<div class="content-wrapper">
    <div class="row">
        <div class="col-12 p-4">
            <div class="submit-form">
                <form [formGroup]="formDivision" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Nama Divisi</label>
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            required
                            formControlName="name"
                        />
                    </div>
            
                    <div class="form-group">
                        <label for="description">Deskripsi</label>
                        <input
                            type="text"
                            class="form-control"
                            id="description"
                            required
                            formControlName="description"
                        />
                    </div>
            
                    <button type="submit" class="btn btn-success">Simpan Perubahan</button>
                </form>
            
                <div *ngIf="submitted">
                    <h4>Division berhasil diubah!</h4>
                </div>
            </div>
        </div>
    </div>
</div>